bottle==0.12.13
Jinja2==2.9.6
python-dotenv==0.6.5
Shapely==1.6.0
pyproj==1.9.5.1
gevent==1.2.2
greenlet==0.4.12
six==1.10.0
pytz==2017.2
requests==2.18.4
uWSGI==2.0.15
boto3==1.4.7
pytesseract==0.1.7
Pillow==4.2.1
GDAL==2.1.0
affine==2.1.0
demjson==2.2.4
